@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:ital,wght@0,100;0,400;0,700;0,900;1,100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

.container {
    max-width: 1024px;
    height: 100vh;
    margin: 12px auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #405169;
    border-radius: 12px;
    padding: 6px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: #1F2937;
}

.logo {
    font-family: Monoton, sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #F9FAF8;
    margin-left: 24px;
}

.header ul li {
    display: inline-block;
    margin-right: 24px;
} 

.main-cards {
    display: flex;
}

.main-cards img {
    border-radius: 12px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
}

.burger-section {
    display: flex;
    justify-content: space-between;
}

.burger-section img {
    border-radius: 12px;
}

.burger-cards {
    width: 200px;
}

.testimonials {
    display: flex;
}

.footer {
    display: flex;
}